In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../faces_stats_large_hog.csv")
print(f"Tenemos {len(df)} muestras analizadas")
df.head()

Tenemos 8678 muestras analizadas

   ethnicity  gender    age
0  caucasian    male  30-39
1   hispanic  female  30-39
2      asian  female  20-29
3  caucasian  female  20-29
4  caucasian  female  20-29

In [4]:
df.ethnicity.value_counts()

ethnicity
caucasian    5237
african      1191
asian        1129
hispanic      999
indian        122
Name: count, dtype: int64

In [5]:
df.age.value_counts()

age
20-29           4291
30-39           1609
40-49            915
3-9              468
10-19            439
60-69            372
50-59            284
more than 70     154
0-2              146
Name: count, dtype: int64

In [6]:
df.gender.value_counts()

gender
female    6690
male      1988
Name: count, dtype: int64